version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
      - internal

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
    groups:
      # Gradle plugins that don't have user visible consequences and
      # thus shouldn't appear in the changelog (mark as 'internal')
      infra-gradle-plugins:
        patterns:
          - *:com.gradle.develocity*
          - *:com.vanniktech.maven.publish*
          - *:org.hildan.github.changelog*
          - *:org.jetbrains.dokka*
          - *:org.jetbrains.kotlinx.binary-compatibility-validator*
          - *:org.slf4j:slf4j-simple*
          - *:org.testcontainers:**
          - *:ru.vyarus.github-info*
        labels:
          - internal
      test-dependencies:
        patterns:
          - *:org.slf4j:slf4j-simple*
          - *:org.testcontainers:**
        labels:
          - internal
