version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
      - internal

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
    groups:
      kotlin-ecosystem:
        patterns:
          # Matches Kotlin itself, but also kotlinx stuff like serialization, atomicfu, etc.
          - org.jetbrains.kotlin*
    # We ignore "internal" dependencies here so we can set a different label in the other update configuration
    ignore:
      - dependency-name: "com.gradle.develocity"
      - dependency-name: "com.vanniktech.maven.publish"
      - dependency-name: "org.hildan.github.changelog"
      - dependency-name: "org.jetbrains.kotlinx.binary-compatibility-validator"
      - dependency-name: "org.jetbrains.dokka"
      - dependency-name: "org.slf4j:slf4j-simple"
      - dependency-name: "org.testcontainers:*"
      - dependency-name: "ru.vyarus.github-info"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
      - internal
    allow:
      - dependency-name: "com.gradle.develocity"
      - dependency-name: "com.vanniktech.maven.publish"
      - dependency-name: "org.hildan.github.changelog"
      - dependency-name: "org.jetbrains.kotlinx.binary-compatibility-validator"
      - dependency-name: "org.jetbrains.dokka"
      - dependency-name: "org.slf4j:slf4j-simple"
      - dependency-name: "org.testcontainers:*"
      - dependency-name: "ru.vyarus.github-info"
