name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15-intel] # ARM runners don't support nested virtualization
        jdk-version: [21]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Docker is not installed on GitHub's MacOS hosted workers due to licensing issues
      - name: Setup docker (missing on MacOS)
        if: runner.os == 'macos'
        # colima is not installed in macos-15-intel, so we need this action now
        uses: douglascamata/setup-docker-macos-action@v1.0.1

      # For testcontainers to find the Colima socket
      # https://github.com/abiosoft/colima/blob/main/docs/FAQ.md#cannot-connect-to-the-docker-daemon-at-unixvarrundockersock-is-the-docker-daemon-running
      - name: Map docker.sock to colima (macOS only)
        if: runner.os == 'macos'
        run: |
          sudo ln -sf $HOME/.colima/default/docker.sock /var/run/docker.sock

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk-version }}

      - name: Cache Kotlin/Native binaries
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Build with Gradle
        run: ./gradlew build
        env:
          BROWSERLESS_API_TOKEN: ${{ secrets.BROWSERLESS_API_TOKEN }}
