name: Publish on releases

on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11

      - name: Gradle build cache
        uses: actions/cache@v2.1.1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-build-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle-build-

      - name: Gradle wrapper cache
        uses: actions/cache@v2.1.1
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/gradle-wrapper.properties') }}

      - name: Build and publish to OSS Sonatype Nexus (staging)
        env:
          # GPG keys for signing plugin (sign maven artifacts)
          # see https://docs.gradle.org/current/userguide/signing_plugin.html#sec:in-memory-keys
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_SECRET_ASCII_ARMORED }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSWORD }}
          # OSS RH credentials for Sonatype staging publication
          OSSRH_USER_TOKEN: ${{ secrets.OSSRH_USER_TOKEN }}
          OSSRH_KEY: ${{ secrets.OSSRH_KEY }}
        run: ./gradlew -Pversion=${{ github.event.release.tag_name }} publishToSonatype

      - name: Close staging repo and release to Maven Central
        env:
          # Credentials implicitly read by the gradle-nexus-staging-plugin
          # see https://github.com/Codearte/gradle-nexus-staging-plugin#server-credentials
          ORG_GRADLE_PROJECT_nexusUsername: ${{ secrets.OSSRH_USER_TOKEN }}
          ORG_GRADLE_PROJECT_nexusPassword: ${{ secrets.OSSRH_KEY }}
        run: ./gradlew -Pversion=${{ github.event.release.tag_name }} closeAndReleaseRepository
