name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "New semver version without cdp suffix"
        required: true
      doPublish:
        type: boolean
        description: "Publish to maven (if unchecked, only the changelog, GitHub release, and git tag are done)"
        required: true
        default: true

run-name: "Release ${{ inputs.version }}-(cdp-version)"

jobs:
  release:
    runs-on: macos-15-intel  # ARM runners don't support nested virtualization
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_PAT }} # to bypass branch protection rules to push the changelog

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      # Docker is not installed on GitHub's MacOS hosted workers due to licensing issues
      - name: Setup docker (missing on MacOS)
        if: runner.os == 'macos'
        # colima is not installed in macos-15-intel, so we need this action now
        uses: douglascamata/setup-docker-macos-action@v1.0.2

      # For testcontainers to find the Colima socket
      # https://github.com/abiosoft/colima/blob/main/docs/FAQ.md#cannot-connect-to-the-docker-daemon-at-unixvarrundockersock-is-the-docker-daemon-running
      - name: Map docker.sock to colima (macOS only)
        if: runner.os == 'macos'
        run: |
          sudo ln -sf $HOME/.colima/default/docker.sock /var/run/docker.sock

      - name: Cache Kotlin/Native binaries
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}

      - name: Compute full version (with protocol version)
        run: echo "fullVersion=${{ inputs.version }}-$(cat protocol-definition/version.txt)" >> $GITHUB_OUTPUT
        id: compute-version

      - name: Release
        uses: joffrey-bion/gradle-library-release-action@v2
        env:
          BROWSERLESS_API_TOKEN: ${{ secrets.BROWSERLESS_API_TOKEN }}
        with:
          version: ${{ steps.compute-version.outputs.fullVersion }}
          gpg-signing-key: ${{ secrets.GPG_SECRET_ASCII_ARMORED }}
          gpg-signing-password: ${{ secrets.GPG_PASSWORD }}
          sonatype-username: ${{ secrets.MAVEN_CENTRAL_TOKEN_USERNAME }}
          sonatype-password: ${{ secrets.MAVEN_CENTRAL_TOKEN_PASSWORD }}
          gradle-publish-tasks: ${{ inputs.doPublish && 'publishAndReleaseToMavenCentral' || '' }}
